.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    padding-top: 2%;
    gap: 42px;
}
.contact > h1, h2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.contact-icon {
    width: 20%;
}
.contact-cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.contact-container {
    display: flex;
    height: 20%;
    width: fit-content;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    gap: 1%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 0.5% 1% 0.5% 1%;
    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
    transition: transform 0.3s ease-in-out;
}
.contact-container:hover {
    transform: scale(1.1);
    animation: color-border 0.3s ease-in;
    border: 1px solid var(--color-tertiary);
    cursor: pointer;
}
@keyframes color-border {
    0% {border: 1px solid rgba(0, 0, 0, 0.1);}
    100% {border: 1px solid var(--color-tertiary);}
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 100%;
    gap: 20px;
}
.form-info {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}
.form-submit {
    border: 1px solid black;
}
.form-input {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 2px 2px #00000030, 0px 6px 6px #00000015;
    text-align: center;
    font-size: 1rem;
}
label {
    display: none;
}
textarea {
    height: 64px;
    width: 384px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #00000030, 0px 6px 6px #00000015;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Roboto';
    font-size: 1rem;
}
.form-submit:hover {
    cursor: pointer;
}
.form-input:hover, textarea:hover {
    border: 1px solid var(--color-tertiary);
}
.fade-in {
    animation: fade-in 0.5s ease-in;
}
@keyframes fade-in {
    0% {opacity: 10%;}
    100% {opacity: 100%;}
}

@media (max-width: 550px) {
    .contact-cards {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }
    .form-info {
        width: 100%;
    }
    textarea {
        width: 288px;
    }
    .form-submit {
        width: 35%;
    }
}