:root {
    font-size: 18px;
    --color-primary: white;
    --color-primary-hover: hsl(75, 50%, 75%);
    --color-secondary: hsl(75, 50%, 10%);
    --color-tertiary: hsl(135, 80%, 20%);
    --color-accent: hsl(15, 80%, 20%);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 1.5% 0px 1.5% 0px;
    background-color: var(--color-tertiary);
}
#content {
    min-height: 70%;
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
button {
    height: 6dvh;
    width: 10dvw;
    border: none;
    font-weight: 800;
    font-size: 1.1rem;
    border-radius: 50px;
    background-color: var(--color-tertiary);
    color: white;
}
nav > button:hover {
    animation: button-anim 0.2s ease-in;
    border: 1px solid black;
    background-color: black;
    color: black;
    cursor: pointer;
    background-color: var(--color-primary);
}
@keyframes button-anim {
    0% {
        border: 0px;
        background-color: var(--color-tertiary);
    }
    100% {
        border: 1px solid black;
        background-color: var(--color-primary);
    }
}
.logo {
    height: 5rem;
    cursor: pointer;
    font-family: 'SUSE';
}
.logo-color {
    color: var(--color-tertiary);
}
@media (max-width: 550px) {
    :root {
        font-size: 12px;
    }
    #content {
        width: 90%;
    }
}